<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <filter>
        <filter-name>JsonEncodingFilter</filter-name>
        <filter-class>org.a6e3iana.filters.JsonEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JsonEncodingFilter</filter-name>
        <url-pattern>/currencies</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JsonEncodingFilter</filter-name>
        <url-pattern>/currency/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JsonEncodingFilter</filter-name>
        <url-pattern>/exchangeRates</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JsonEncodingFilter</filter-name>
        <url-pattern>/exchangeRate/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JsonEncodingFilter</filter-name>
        <url-pattern>/exchange</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <filter-class>org.a6e3iana.filters.ExceptionHandlerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <url-pattern>/currencies</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <url-pattern>/currency/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <url-pattern>/exchangeRates</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <url-pattern>/exchangeRate/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <url-pattern>/exchange</url-pattern>
    </filter-mapping>

</web-app>
